<div class="bg-c-white:-16 rounded-10 shadow-md w-60 j-self-center mb-8" md="w-full">
    <!-- Image -->
    <img 
      src="{{ url_for('static', filename='uploads/' 'bite_francy.png') }}" 
      alt="Restaurant Image" 
      class="w-full h-30 rounded-t-10 obj-f-cover" 
      md="h-40">
    
    <!-- Content -->
    <div class="pa-2" md="pa-4">
      <h3 class="text-lg text-c-black:+16 mb-1">{{ restaurant["restaurant_name"] }}</h3>
      <p class="text-12px text-c-black:+16 ma-0 pb-1" md="text-sm">
        Address: {{ restaurant["restaurant_address"] }}
      </p>
      
      <div class="mb-2">
        {% if restaurant["restaurant_item_cuisine_type"] %}
        <p class="text-12px text-c-black:+16 ma-0" md="text-sm">Cuisine:</p>
        <p class="text-w-bold text-12px ma-0">
          {{ restaurant["restaurant_item_cuisine_type"] }}
        </p>
        {% endif %}
      </div>

      <!-- Actions -->
      <div class="d-flex j-content-between ml-2" md="ml-0">
        <a href="/restaurant/{{ restaurant['restaurant_pk'] }}" class="btn">
          View Menu
        </a>
      </div>
    </div>
</div>