<div class="d-flex flex-col j-content-between h-100% bg-c-white cursor-pointer rounded-4 shadow-md h-full w-75%" md="w-50" hover="scale-101 ts-300">
    <img 
      src="{{ url_for('static', filename='uploads/images/' 'restaurant_image2.webp') }}" 
      alt="Restaurant Image" 
      class="w-full h-30 rounded-t-4 obj-f-cover" 
      md="h-40">
    <div class="px-2" md="">
      <div>
        <h3 class="text-14px text-c-black:+16 mb-1" md="text-18px">{{ restaurant["restaurant_name"] }}</h3>
      </div>
      <p class="text-8px text-c-black:+16 ma-0 pb-1" md="text-12px">
        Address: {{ restaurant["restaurant_address"] }}
      </p>
      <div class="d-flex j-content-center ml-2" md="ml-0">
        <a href="/restaurant/{{ restaurant['restaurant_pk'] }}?query={{ query }}" class="btn pa-2 text-c-black:+16" md="text-1rem" hover="text-c-green:+16 ts-300 text-d-underline">
          View Restaurant
        </a>
      </div>
    </div>
</div>
