{% include "_top.html" %}

<main class="w-full d-flex flex-col" md="px-60">
  <!-- Logo Section -->
  <div class="text-a-center mb-6 my-10">
    <img src="{{ url_for('static', filename='uploads/' 'bite_francy.png') }}" alt="bite logo" class="w-40" md="w-40" />
    <h1 class="text-100 text-w-thin text-c-gray:+16 mt-2" md="text-120">Create a Restaurant</h1>
  </div>

  <form id="frm_create_restaurant" class="d-flex flex-col gap-4 w-50% mx-auto mb-20">
    <!-- Restaurant Name -->
    <div class="d-flex flex-col">
      <label 
        for="restaurant_name" 
        class="mb-2 text-100 text-w-thin text-c-gray:+2" 
        md="text-130">
        <span>Restaurant Name</span>
      </label>
      <input 
        id="restaurant_name" 
        name="restaurant_name"
        type="text" 
        mix-check="{{ x.RESTAURANT_NAME_REGEX }}" 
        class="py-3 px-4 rounded-md border-2 border-c-gray:-4"
        focus="border-c-green outline-0"
        />
    </div>

    <!-- Street Name -->
    <div class="d-flex flex-col">
      <label 
        for="street_name" 
        class="mb-2 text-100 text-w-thin text-c-gray:+2" 
        md="text-130">
        <span>Street Name</span>
      </label>
      <input 
        id="street_name" 
        name="street_name"
        type="text" 
        mix-check="{{ x.STREET_NAME_REGEX }}" 
        class="py-3 px-4 rounded-md border-2 border-c-gray:-4"
        focus="border-c-green outline-0"
        />
    </div>

    <!-- Street Number -->
    <div class="d-flex flex-col">
      <label 
        for="street_number" 
        class="mb-2 text-100 text-w-thin text-c-gray:+2" 
        md="text-130">
        <span>Street Number</span>
      </label>
      <input 
        id="street_number" 
        name="street_number"
        type="text" 
        mix-check="{{ x.STREET_NUMBER_REGEX }}" 
        class="py-3 px-4 rounded-md border-2 border-c-gray:-4"
        focus="border-c-green outline-0"
        />
    </div>

    <!-- City -->
    <div class="d-flex flex-col">
      <label 
        for="city" 
        class="mb-2 text-100 text-w-thin text-c-gray:+2" 
        md="text-130">
        <span>City</span>
      </label>
      <input 
        id="city" 
        name="city"
        type="text" 
        mix-check="{{ x.CITY_NAME_REGEX }}" 
        class="py-3 px-4 rounded-md border-2 border-c-gray:-4"
        focus="border-c-green outline-0"
        />
    </div>

    <!-- Postnummer -->
    <div class="d-flex flex-col">
      <label 
        for="postnummer" 
        class="mb-2 text-100 text-w-thin text-c-gray:+2" 
        md="text-130">
        <span>Postal code</span>
      </label>
      <input 
        id="postnummer" 
        name="postnummer"
        type="text" 
        mix-check="{{ x.POSTAL_CODE_REGEX }}" 
        class="py-3 px-4 rounded-md border-2 border-c-gray:-4"
        focus="border-c-green outline-0"
        />
    </div>

    <button 
      mix-post="/restaurants/add" 
      mix-data="#frm_create_restaurant"
      class="py-3 px-6 cursor-pointer bg-c-green:+10 text-c-white rounded-md shadow-md " hover="bg-c-green:+16">
      Create Restaurant
    </button>
  </form>
</main>

{% include "_bottom.html" %}