<div class="bg-c-white:-16 rounded-10 shadow-md w-60 j-self-center mb-8" md="w-full">
    <!-- Image -->
    <img src="{{ url_for('static', filename='dishes/' + item['item_image']) }}" 
         alt="Item Image" class="w-full h-30 rounded-t-10 obj-f-cover" md="h-40">
    <!-- Content -->
    <div class="pa-2" md="pa-4">
      <h3 class="text-lg text-c-black:+16 mb-1">{{ item["item_title"] }}</h3>
      <p class="text-12px text-c-black:+16 ma-0 pb-1" md="text-sm">Price: {{ item["item_price"] }} Dkk.</p>
      <div class="mb-2">
        {% if item["restaurant_name"] %}
        <p class="text-12px text-c-black:+16 ma-0" md="text-sm">Restaurant:</p>
        <p class="text-w-bold text-12px ma-0">{{ item["restaurant_name"] }}</p>
   
       
      {% endif %}

      </div>
    
      <!-- Actions -->
      <div class="d-flex j-content-between ml-2" md="ml-0">
        {% if not item["item_blocked_at"] or item["item_blocked_at"] == "0" %}
          {% include "___btn_block_item.html" %}
        {% else %}
          {% include "___btn_unblock_item.html" %}
        {% endif %}
      </div>
    </div>
</div>