{% include "_top.html" %}

<main class="w-full h-full d-flex gap-10 flex-col py-3 px-6" md="px-72">
  <div class="d-flex j-content-start">
    <a href="/search?query={{ request.args.get('query', '') }}" class="btn text-c-charocoal:-10 py-2 text-75 rounded-sm" hover="text-c-green:-16">
      ← Go Back to Search
    </a>
  </div>
  <header class="d-flex flex-row my-6" md="my-16">
    <div class="d-flex flex-col a-content-center">
      <div class="w-60">
        <h1 class="text-3rem text-lh-tight text-w-hair" md="text-7rem">{{ restaurant["restaurant_name"] }}</h1>
      </div>
      <div class="">
        <p class="text-w-bold">{{ restaurant["restaurant_address"] }}</p>
      </div>

      </div>
  </header>
  <div class="grid cols-4 gap-1" md="d-flex flex-row">
    {% for cuisine in cuisine_types %}
      <form method="get" action="{{ url_for('view_menu', restaurant_pk=restaurant['restaurant_pk']) }}">
        <input type="hidden" name="cuisine" value="{{ cuisine }}">
        <button 
          type="submit" 
          class="btn bg-c-gray:+16:+16 pa-2 text-c-white" md="cursor-pointer">{{ cuisine }}</button>
      </form>
    {% endfor %}
  </div>
  
  <div class="menu">
    {% set grouped_items = menu_items|groupby('item_cuisine_type') %}
    {% for cuisine, items in grouped_items %}
      <section class="cuisine-section">
        <div class="d-flex j-content-center">
          <!-- Display Cuisine Type -->
        <h3 class=" j-self-end pa-2 rounded-4 text-2rem text-w-bold text-c-body:-16 my-2" md="text-3rem my-6">- {{ cuisine or "Unknown Cuisine" }} -</h3>
        </div>
   
        
  

  <div class="grid gap-2 cols-2" sm="cols-4 gap-4">
    {% for item in items %}
    <div class="d-flex flex-col j-content-between h-100% bg-c-black:+16 cursor-pointer rounded-10 shadow-md w-50 j-self-center mb-8 " md="w-full">
      <div>
        <img src="{{ url_for('static', filename='dishes/' + item['item_image']) }}"  
        alt="{{ item['item_title'] }}" 
        class="w-full h-30 rounded-t-10 obj-f-cover" 
        md="h-40" />
        <div md="pa-2 text-lh-tight">
          <h3 class="text-c-white:-16 text-1rem" md="text-1rem">{{ item["item_title"] or "Unnamed Item" }}</h3>
          <p class="text-c-white:-16 text-0.75rem" md="">Price: <span class="text-w-semibold text-1rem">{{ item["item_price"] or "0.00" }}</span>  DKK</p>
          <p class="text-c-white:-16 text-0.75rem" md="text-1rem">Cuisine: {{ item["item_cuisine_type"] }}</p>
        </div>
      </div>
      <form 
                    id="buy-form-{{ item['item_pk'] }}" 
                    class="d-flex flex-col j-self-stretch mt-auto"
                    >
                    <div class="d-flex flex-row j-content-between a-items-center px-1 py-2">
                      <label for="quantity-{{ item['item_pk'] }}" class="pa-1 text-1rem text-c-white">Pcs:</label>
                    <input
                        type="number"
                        id="quantity-{{ item['item_pk'] }}"
                        name="quantity"
                        min="1"
                        value="1"
                        class="border-s-hidden px-2 py-1 rounded-md w-20"
                        required
                    />

                    </div>
                    
                    <button 
                        class="bg-c-green:-10 text-c-body rounded-sm px-1 py-0 h-10 cursor-pointer"
                        md="px-3 py-1 "
                        mix-post="/items/{{ item['item_pk'] }}/buy"
                        mix-data="#buy-form-{{ item['item_pk'] }}"
                        >
                        Buy Now
                    </button>
                </form>
    </div>
    
    
    {% endfor %}
    
  </div>
</section>
  </div>
{% endfor %}
</main>
{% include "_bottom.html" %}