{% include "_top.html" %}

<main class="w-full h-full d-flex gap-10 flex-col py-3 px-6" md="px-72 pb-20">
   <!-- Hero Section -->
   <section class="w-full">
    <div class="w-full h-full flex flex-col justify-center">
      <h1 class="text-1rem text-c-gray:+16 mb-2" md="text-2rem">{{ restaurant["restaurant_name"] }}</h1>
      <p class="text-c-gray:-16 text-lg">{{ restaurant["restaurant_address"] }}</p>
      <div class="flex flex-row gap-2 mt-4">
        <span class="bg-c-white:-3 text-c-gray:+16 px-4 py-1 rounded-4 ">Delivery: 69.00 DKK</span>
        <span class="bg-c-white:-3 text-c-gray:+16 px-4 py-1 rounded-4 ">Min. Order: 75.00 DKK</span>
        <span class="bg-c-white:-3 text-c-gray:+16 px-4 py-1 rounded-4 ">W+: Free Delivery</span>
      </div>
    </div>
  </section>
  <div class="d-flex j-content-start">
    <a href="/search?query={{ request.args.get('query', '') }}" class="btn text-c-charocoal:-10 py-2 text-75 rounded-sm" hover="text-c-green:-16">
      ← Go Back to Search
    </a>
  </div>
  <div class="grid cols-4 gap-1" md="d-flex flex-row">
    {% for cuisine in cuisine_types %}
      <form method="get" action="{{ url_for('view_menu', restaurant_pk=restaurant['restaurant_pk']) }}">
        <input type="hidden" name="cuisine" value="{{ cuisine }}">
        <button 
          type="submit" 
          class="btn bg-c-white:-3 text-c-gray:+16 pa-2 " md="cursor-pointer">{{ cuisine }}</button>
      </form>
    {% endfor %}
  </div>
  
  <div class="menu">
    {% set grouped_items = menu_items|groupby('item_cuisine_type') %}
    {% for cuisine, items in grouped_items %}
      <section class="cuisine-section">
        <div class="d-flex">
          <!-- Display Cuisine Type -->
        <h3 class="j-self-end pa-2 rounded-4 text-2rem text-w-bold text-c-body:-16 my-2" md="text-3rem my-6">{{ cuisine or "Unknown Cuisine" }}</h3>
        </div>
   
        
  

  <div class="grid gap-2 cols-2" sm="cols-3 gap-4">
    {% for item in items %}
    <div class="card bg-c-white rounded-10 shadow-md d-flex flex-col h-full j-content-between overflow-hidden border-c-gray:-10" hover="scale-101 ts-300">
        <div class="card-image-container w-full h-40 obj-f-cover">
          <img src="{{ url_for('static', filename='dishes/' + item['item_image']) }}"  
          alt="{{ item['item_title'] }}" 
          class="w-full h-full obj-f-cover" 
          />
        </div>
        <div class="card-content px-4 py-2" md="">
          <h3 class="text-c-gray text-1rem" md="text-1rem">{{ item["item_title"] or "Unnamed Item" }}</h3>
          <p class="text-c-gray text-0.75rem" md="">Price: <span class="text-w-semibold text-1rem">{{ item["item_price"] or "0.00" }}</span>  DKK</p>
          <p class="text-c-gray text-0.75rem" md="text-1rem">Cuisine: {{ item["item_cuisine_type"] }}</p>
        </div>
      <div class="card-actions d-flex j-content-between px-4 py-2 border-t-4 border-s-dotted border-c-white:-16">
        <form 
                    id="buy-form-{{ item['item_pk'] }}" 
                    class="d-flex flex-row j-content-between a-items-center"
                    >
                    <div class="d-flex flex-row j-content-between a-items-center px-1 py-2">
                      <label for="quantity-{{ item['item_pk'] }}" class="pa-1 text-1rem text-c-white">Pcs:</label>
                    <input
                        type="number"
                        id="quantity-{{ item['item_pk'] }}"
                        name="quantity"
                        min="1"
                        value="1"
                        class="border-s-hidden px-2 py-1 rounded-md w-20"
                        required
                    />

                    </div>
                    
                    <button 
                        class="ml-4 bg-none border-1 border-c-green:-10 text-c-green:-10 px-4 py-2 rounded-md cursor-pointer"
                        hover="bg-c-green:-10 text-c-white ts-350"
                        mix-post="/items/{{ item['item_pk'] }}/buy"
                        mix-data="#buy-form-{{ item['item_pk'] }}"
                        >
                        Buy Now
                    </button>
                </form>

      </div>
      
    </div>
    
    
    {% endfor %}
    
  </div>
</section>
  </div>
{% endfor %}
</main>
{% include "_bottom.html" %}