<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/mojocss"></script>
    <title>{{ title or "bite" }}</title>
  </head>
  <body class="w-full h-full text-c-gray:-16">
    <header class="d-flex j-content-between a-items-center py-3 px-6">
      <!-- Logo -->
      <div class="logo">
        <a href="/">
          <img src="{{ url_for('static', filename='uploads/' 'bite_francy.png') }}" alt="bite logo" class="w-20" />
        </a>
      </div>

      <!-- Navigation -->
      <div class="d-flex a-items-center">
        {% if session.get("user") %}
        <!-- Dropdown Menu -->
        <div class="dropdown">
          <!-- Profile Button -->
          <button id="profile-btn" class="d-flex a-items-center pa-0 border-0 rounded-full cursor-pointer" onclick="toggleDropdown()">
            <img src="{{ url_for('static', filename='avatars/' + session.get('user', {}).get('user_avatar', 'default_avatar.jpg')) }}" alt="User Avatar" class="w-12 h-12 pa-1 rounded-full" />
            <span id="dropdown-arrow" class="text-c-gray:-15 mr-4"> &#x2193; </span>
            <!-- Default Down Arrow -->
          </button>

          <!-- Dropdown Content -->
          <div id="dropdown-menu" class="dropdown-content pa-4 w-52 d-none bg-c-white shadow-md rounded-sm">
            <a href="{{ url_for('view_profile') }}" class="d-flex a-items-center text-c-gray:-15">
              <span>Profile</span>
            </a>
            {% set roles = session.get("user").get("roles", []) %} {% if "admin" in roles %}
            <a href="{{ url_for('view_admin') }}" class="d-flex a-items-center text-c-gray:-15">
              <span>Admin account</span>
            </a>
            {% endif %} {% if roles|length > 1 %}
            <a href="{{ url_for('view_choose_role') }}" class="d-flex a-items-center text-c-gray:-15">
              <span>Bite+</span>
            </a>
            {% endif %}
            <a href="#" class="d-flex a-items-center text-c-gray:-15">
              <span>Get help</span>
            </a>
            <form method="POST" action="{{ url_for('logout') }}">
              <button class="w-full text-a-left px-4 py-2 mt-2 text-c-red:-10 rounded-sm" hover="bg-c-gray:-4">Log out</button>
            </form>
          </div>
        </div>
        {% else %}
        <!-- Login and Signup Links -->
        <div class="d-flex flex-row a-items-center">
          <a href="{{ url_for('view_login') }}" 
            class="rounded-4 text-c-gray:-15"> 
            Login 
          </a>
          <a href="{{ url_for('view_signup') }}" 
            class="a-items-center ml-2 pa-3 rounded-4 rounded-4 border border-1 text-c-gray:-15 search-button">
            <button>Sign Up</button>
          </a>
        </div>

        {% endif %}
      </div>
    </header>

    <div id="toast" class="d-flex flex-col j-content-center p-fixed w-full top-4 z-10"></div>
  </body>
</html>
